@use "../../styles/variables" as v;

.tag {
  display: inline-block;
  background-color: v.$color-black;
  color: v.$color-white;
  padding: 0.25rem 0.75rem;
  font-family: v.$font-heading-secondary; // Archivo Narrow
  font-size: 0.75rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
