// Colors
$color-bg: #FCF9F2;
$color-text: #111111;
$color-text-muted: #5c5c5c;
$color-border: #111111;
$color-badge-bg: rgba(0, 0, 0, 0.85);
$color-badge-text: #ffffff;
$color-black: #000;
$color-white: #fff;
$color-error: #b00020;
$color-form-label: #1C1C18;
$color-form-placeholder: #6B7280;
$color-form-security: #888886;


// Typography
$font-heading-primary: 'Playfair Display', serif;      // H1, H2
$font-heading-secondary: 'Archivo Narrow', sans-serif; // H3, H4
$font-body: 'Source Serif 4', serif;                   // Paragraphs

// Font weights
$weight-regular: 400;
$weight-semibold: 600;
$weight-bold: 700;



// Spaces
$space-xs: 0.5rem;
$space-sm: 0.75rem;
$space-md: 1.25rem;
$space-lg: 2rem;
$space-xl: 3rem;

$max-content-width: 1240px;