.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 60px;

  background: #fff;
  border-bottom: 1px solid #ddd;

  &__logo h1 {
    font-size: 28px;
    font-weight: bold;
    color: #111;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 30px;

    a {
      text-decoration: none;
      color: #333;
      font-weight: 500;

      &:hover {
        color: #000;
      }
    }

    .btn-register {
      background: black;
      color: white;
      padding: 10px 20px;
      border-radius: 6px;

      &:hover {
        background: #444;
      }
    }
  }
}